In [1]:
import pandas as pd
from transformers import pipeline
import time

/Users/lynn/Documents/Twinkl/grant-applications-app/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('data/feb-march-data.csv')

print(len(df))
print(df.columns)

df.head(3)

960
Index(['Id', 'Date/Time Requested', 'Giveaway Title', 'Customer Name',
       'Email Address', 'School Name', 'Postal Address', 'Address Line 2',
       'Address City', 'Postcode', 'Additional Info', 'Unnamed: 11'],
      dtype='object')

,Id,Date/Time Requested,Giveaway Title,Customer Name,Email Address,School Name,Postal Address,Address Line 2,Address City,Postcode,Additional Info,Unnamed: 11
0,304399.0,01/03/2025 00:52,March Community Collection,Susan Bushnell,susan.bushnell@googlemail.com,Southfield Junior School,Shrivenham Road,Highworth,Swindon,SN6 7BZ,I would love to use it to spread the love of r...,
1,305004.0,02/03/2025 19:52,March Community Collection,Sarah Arabestani,sarah.a@sandringhamnursery.com,Sandringham Nursery,16 Sandringham Road,Penylan,Cardiff,CF23 5BJ,We would like to introduce early years yoga an...,
2,305493.0,05/03/2025 14:34,March Community Collection,Rebecca Asker,mrsrasker@gmail.com,Newhaven PRU Outreach,Newhaven Gardens,NaN,Greenwich,SE96HR,Â£500 would enable us to set up a small sensor...,

In [3]:
df.columns = df.columns.str.lower().str.replace(' ','_')

df.columns

Index(['id', 'date/time_requested', 'giveaway_title', 'customer_name',
       'email_address', 'school_name', 'postal_address', 'address_line_2',
       'address_city', 'postcode', 'additional_info', 'unnamed:_11'],
      dtype='object')

In [4]:
# Initialize the emotion classification pipeline
emotion_classifier = pipeline('text-classification', model='SamLowe/roberta-base-go_emotions', top_k=None)

Device set to use mps:0

Let's th eclassifier for a single application to know what kind of output we can expect

In [5]:
# first let's find a long applciation

df['word_count'] = df['additional_info'].apply(lambda x: len(str(x).split()))

df[['additional_info', 'word_count']].head(3)

                                     additional_info  word_count
0  I would love to use it to spread the love of r...          69
1  We would like to introduce early years yoga an...          46
2  Â£500 would enable us to set up a small sensor...          86

In [6]:
test_application = df.loc[df['word_count'].idxmax(), 'additional_info']

print(test_application)

Horton Grange Primary School is located in the Great Horton area of Bradford, West Yorkshire, serving a well-established Pakistani community. The school caters to children aged 2 to 11, with a total enrollment of approximately 726 pupils. The student body is diverse, with 91% of students using English as an additional language. Additionally, 21% of students have Special Educational Needs, and 32 students are considered disadvantaged. In terms of academic performance, 66% of pupils meet the expected standards in reading, writing, and mathematics at Key Stage 2, with 11% achieving a higher standard. The school's most recent Ofsted inspection in September 2024 rated the quality of education as 'Good' and highlighted 'Outstanding' ratings for both behaviour and attitudes, and personal development. The school is part of the Exceed Academies Trust and is led by Headteacher Miss Rebecca Marshall. It offers a range of extracurricular activities, including educational outings and experiences that enrich learning. The school's ethos emphasizes creating a safe and happy environment where children can flourish and begin their lifelong learning journey.
In terms of the money we can get, the school will be able to use this for the following;
Books for the Library â€“ Purchase diverse and engaging books to encourage reading.
Stationery and Art Supplies â€“ Stock up on essentials like notebooks, pencils, and craft materials.
Maths and Science Kits â€“ Hands-on resources to support STEM learning.
Tablets or Learning Apps â€“ A contribution toward devices or educational subscriptions.
Headphones for ICT Use â€“ Useful for online learning and accessibility.
Sensory Equipment â€“ Support students with additional needs by purchasing fidget toys, weighted blankets, or calming tools.
Outdoor Play Resources â€“ Items like skipping ropes, hula hoops, etc.

In [7]:
emotions = emotion_classifier(test_application)
emotions

[[{'label': 'neutral', 'score': 0.5856776237487793},
  {'label': 'approval', 'score': 0.4809421896934509},
  {'label': 'admiration', 'score': 0.08151720464229584},
  {'label': 'realization', 'score': 0.027009719982743263},
  {'label': 'optimism', 'score': 0.018872186541557312},
  {'label': 'caring', 'score': 0.010474747978150845},
  {'label': 'disapproval', 'score': 0.008761710487306118},
  {'label': 'annoyance', 'score': 0.0053910380229353905},
  {'label': 'disappointment', 'score': 0.004287778399884701},
  {'label': 'relief', 'score': 0.004131054040044546},
  {'label': 'pride', 'score': 0.004071239847689867},
  {'label': 'joy', 'score': 0.00316843600012362},
  {'label': 'gratitude', 'score': 0.002936755074188113},
  {'label': 'desire', 'score': 0.0022684938739985228},
  {'label': 'sadness', 'score': 0.0020141159184277058},
  {'label': 'love', 'score': 0.0017706562066450715},
  {'label': 'confusion', 'score': 0.0015989093808457255},
  {'label': 'excitement', 'score': 0.0014885042328387499},
  {'label': 'disgust', 'score': 0.0008889383752830327},
  {'label': 'curiosity', 'score': 0.0008583810413256288},
  {'label': 'anger', 'score': 0.0007978692301549017},
  {'label': 'fear', 'score': 0.0007784575573168695},
  {'label': 'grief', 'score': 0.0005341923679225147},
  {'label': 'remorse', 'score': 0.0005059443647041917},
  {'label': 'nervousness', 'score': 0.0004846185038331896},
  {'label': 'embarrassment', 'score': 0.00036206969525665045},
  {'label': 'surprise', 'score': 0.00034910510294139385},
  {'label': 'amusement', 'score': 0.0003461150045040995}]]

In [8]:
more_intense_example = """"I run outdoor learning at my school, we are in a very deprived area, in a central area of Milton Keynes in the middle of a housing estate, the school has very little. I currently pay for as much as possible. We have now got an allotment area, but really need some help with filling it!! We are trying hard to run outdoor learning sessions, as we have so many children without gardens who live in converted shipping containers and their faces when they tackle ceratin skills and plant and see things grow is beautiful. please please help us!!!"""

In [9]:
emotions = emotion_classifier(more_intense_example)

emotions

[[{'label': 'admiration', 'score': 0.6447672843933105},
  {'label': 'desire', 'score': 0.3310450613498688},
  {'label': 'optimism', 'score': 0.08578585088253021},
  {'label': 'approval', 'score': 0.08077544718980789},
  {'label': 'neutral', 'score': 0.0645425021648407},
  {'label': 'disappointment', 'score': 0.034120526164770126},
  {'label': 'caring', 'score': 0.026644788682460785},
  {'label': 'sadness', 'score': 0.014421308413147926},
  {'label': 'annoyance', 'score': 0.01335776224732399},
  {'label': 'disapproval', 'score': 0.012340354733169079},
  {'label': 'excitement', 'score': 0.008422383107244968},
  {'label': 'realization', 'score': 0.008331868797540665},
  {'label': 'love', 'score': 0.007035400252789259},
  {'label': 'curiosity', 'score': 0.006367261987179518},
  {'label': 'pride', 'score': 0.005947182886302471},
  {'label': 'joy', 'score': 0.004438790027052164},
  {'label': 'gratitude', 'score': 0.0034672864712774754},
  {'label': 'relief', 'score': 0.0027506654150784016},
  {'label': 'disgust', 'score': 0.0023999481927603483},
  {'label': 'confusion', 'score': 0.0022132378071546555},
  {'label': 'grief', 'score': 0.002203976968303323},
  {'label': 'anger', 'score': 0.001952152932062745},
  {'label': 'nervousness', 'score': 0.0017981012351810932},
  {'label': 'surprise', 'score': 0.0016994696343317628},
  {'label': 'fear', 'score': 0.0016026603989303112},
  {'label': 'remorse', 'score': 0.0015317321522161365},
  {'label': 'embarrassment', 'score': 0.0006112103583291173},
  {'label': 'amusement', 'score': 0.0006051507662050426}]]

In [10]:
def classify_emotions(text):
    """
    Classifies the emotions in a given text and returns a dictionary of emotions and their scores.
    """
    if isinstance(text, str):
        emotions = emotion_classifier(text)
        # The output is a list of lists of dictionaries. We need to process it.
        if emotions and isinstance(emotions[0], list):
            return {item['label']: item['score'] for item in emotions[0]}
        return {}

In [11]:
start_time = time.time()

df['emotion'] = df['additional_info'].map(classify_emotions)

end_time = time.time()

print(f"Processing Time: {end_time-start_time} seconds")

Processing Time: 17.377334117889404 seconds

In [27]:
def get_top_emotion(emotion_dict):
    """
    Returns the emotion with the highest score from a dictionary of emotions.
    """
    if not emotion_dict:
        return None, 0.0
    top_emotion = max(emotion_dict, key=emotion_dict.get)
    return top_emotion, emotion_dict[top_emotion]

# Apply the function to the 'emotions' column
df[['top_emotion', 'top_emotion_score']] = df['emotion'].apply(get_top_emotion).apply(pd.Series)

In [28]:
df['top_emotion'].value_counts()

top_emotion
neutral           319
desire            212
approval           88
love               79
gratitude          58
admiration         51
optimism           36
disappointment     16
excitement         15
caring             12
sadness            11
joy                 9
realization         2
nervousness         1
confusion           1
disapproval         1
Name: count, dtype: int64

In [29]:
not_list = ['neutral', 'approval', 'love', 'admiration', 'optimism', 'excitement', 'joy']

not_df = df[~df['top_emotion'].isin(not_list)]

In [30]:
len(not_df)

363

In [31]:
not_df['top_emotion'].value_counts()

top_emotion
desire            212
gratitude          58
disappointment     16
caring             12
sadness            11
realization         2
nervousness         1
confusion           1
disapproval         1
Name: count, dtype: int64

In [37]:
for idx, record in not_df[not_df['top_emotion'] == 'disappointment'].sample(10).iterrows():
    print(idx, record['additional_info'])
    print('\n' + '-'*60 + '\n')

293 We're a small, rural school in deficit as pupil numbers country-wide are dwindling. We need any extra money we can to buy new resources for different subjects e.g. art supplies, Maths equipment, science resources.

------------------------------------------------------------

823 Due to the cohort that we have this year lots of our toys and resources have been broken.
We would love to be able to replace them for the other children to enjoy. Due to our budget we are not in a good place and as such we have cars with no garage, and dolls houses with no furniture or dolls

------------------------------------------------------------

319 My school is very small. We don't have much in our budget in fact we cannot ask for anything until the new financial year...
The school is looking rather tired and the toys for the children are mostly broken...
We don't have much for our SEN children as well... we wish we could have the resources for them to help regulate them but it is just not in the budget...

------------------------------------------------------------

691 We are very lucky to have a forest school area in our school. But unfortunately, our Forest School lead passed away last year. It was a big shock to the school community. For this reason, we are trying to raise some funds to re-instate the wildlife pond that he was passionate about. It was one of the projects he was planning to do before he passed and as a nod to him, we want to complete this. To do this we need to empty to water out of the pond as itâ€™s stagnant. Clean out the pond and re-fill it. There are a few trees that need to come down around the pond as well. We were hoping to install some walkways so help children assess the pond for pond dipping to help with education. This will also help local wildlife and have a positive effect on the fauna and flour of the forest school area. As you can imagine this is a costly project to do and any help would be amazing.

------------------------------------------------------------

739 Unfortunately most of our SEN resources need upgrading as we have a lot more children being diagnosed with additional needs in our school and we need specialist equipment to support them whilst in school.

------------------------------------------------------------

676 Our school is located in a deprived area of Birmingham. We would use the money to buy resources to support the children with their learning. At the moment there are lots of resources/additional experiences which we have found that would support the children however with school budget cuts we are unable to afford them.

------------------------------------------------------------

151 We are in a very deprived area and often have quite high turnover of children meaning that we have low amount of children across the school and classes that are not full. This has an effect on the funding that we get. We are very low in resources so things like: colouring in books, board games for indoor lunch provisions, glue sticks and whiteboard pens, nice paper and card. This would be lovely for our children.

------------------------------------------------------------

139 The school is in a deprived area and every little helps.

------------------------------------------------------------

32 The library is under going a much needed make over, unfortunately the cost is much greater than previously estimated. The Â£500 would help buy new table and bean bags to boost the comfort of the library significantly. The last time the library was improved was in the late 80s, it is time to reignite library usage within my school.

------------------------------------------------------------

12 Our school library is in desperate need of more cosy seating. We've had a big push to encourage reading throughout school over the last year and the library has become really popular. This does mean we don't have enough comfy seating or books to keep up with demand.

------------------------------------------------------------

## Insights

After exploring some applications in this subset of emotions, `sadness`, `caring`, and `disappointment` appear to be the ones that most closely align with with the expectations.